body   {
        padding: 10px 10px 50px 10px;
        background-color: white;
        }

    
/* This is here for the consumption of certain browsers that do not support HTML5 */
aside, details, figcaption, figure, footer, header, hgroup, nav, section { 
        display: block; 
    }

aside {
    float: right;
    width: 30%;
}

div#content {
    width: 70%;
}

div#container {
    width: 95%;
    padding: 15px;
    background-color: #C4BBD0;
    margin:auto;
}

header #main {
        margin:10px 0px 10px 0px; 
    }
h1 {
    margin:0px;
    font: 100px Arial,sans-serif;
    }

nav {
        background-color: #9D8DB5;
        padding-left: 10px;
        margin: 0px 10px 25px 10px;
}
article {
        background-color: #7F629C; 
        margin: 0px 10px 25px 10px;
    }

section {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 95%;
}

figure {
    background-color: #5D3579;
    padding: 10px;
    float: left;
}

figure + br {
    clear: both;
}

.enddiv
{
    height: 200px;
}
.cleardiv
{
    clear:both;
}
