body   {
        padding: 10px 10px 50px 10px;
        background-color: white;
        }

    
/* This is here for the consumption of certain browsers that do not support HTML5 */
aside, details, figcaption, figure, footer, header, hgroup, nav, section { 
        display: block; 
    }

div#content {
    width: 70%;
}

div#container {
    width: 95%;
    padding: 15px 15px 30px 15px;
    background-color: #C4BBD0;
    margin:auto;
}

div.commentbody {
        width: 90%;
        align: right;
    }
h1 {
    margin:0px;
    font: 100px Arial,sans-serif;
    }

nav {
     padding-left: 10px;
     margin: 0px 10px 25px 10px;
    }

aside {
        float: right;
        width: 28%;
        background-color: #9D8DB5;
        padding-left: 0px;
        margin: 0px 10px 25px 10px; 
}
article {
        background-color: #7F629C; 
        margin: 0px 10px 25px 10px;
    }

section {
    padding: 10px;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 95%;
}

section.artinfo {
         background-color: #9D8DB5;
}
section.comment{
    background-color: #C4BBD0;
}

section.comment>header{
    font-weight: bold;
}

label {
    vertical-align: top;
    font-weight: bold;
}

figure {
    background-color: #5D3579;
    padding: 10px;
    float: left;
}

figure + br {
    clear: both;
}

.cleardiv
{
    clear:both;
}
