/* TODO: Organize this. */
body   
{
    color: #785e96;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

/* This is here for the consumption of certain browsers that do not support HTML5 */
aside, details, figcaption, figure, footer, header, hgroup, nav, section 
{
    display: block; 
}

section
{
    margin: 1em 1em .5em .5em;
}

section.art, section.post
{

}
#header
{
    /* background-image:url('http://deathweasel.net/static/artwork/acrylics/dragon.jpg'); */
}
#header, #navbar, #middle, #footer
{
    margin: 0 auto;
    width: 80%;
    clear: both;
}

#header h1, #footer h6
{
    margin: 0 0 0 10px;
}

.error 
{
    color: red;
    font-size: 1 em;
}

.invalidinput
{
    border: medium solid red;
}

ul.topnav
{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: block;
    background-color: #765e96;
    float: left;
}

ul.topnav li
{
    float: left;
    margin: 0 10px 0 0;
    padding: 0px 10px 0px 10px; 
    position: relative;
} 

ul.topnav li a 
{    
    padding: 3px 3px;
    display: block;
    float: left;
    text-decoration: none;
    color: #c6bad3;
}

ul.topnav li a:hover 
{
    color: #59456D; 
}

ul.topnav li span 
{
    float: left;
}

ul.topnav li span.subhover 
{
    background-position: center bottom;
    cursor: pointer;
}
ul.topnav li ul.subnav 
{
    list-style:none;
    position: absolute;
    left:0;
    top: 35px;
    margin: 0;
    padding: 0;
    display: none;
    float: left;
    border: 1px solid white;
}

ul.topnav li ul.subnav li
{
    margin: 0;
    padding: 0;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #444;
    clear: both;
}

html ul.topnav li ul.subnav li a
{
    padding-left:20 px;
}

#middle
{
    background-color: #efecf3; 
}

#sidebar
{
    float: left;
    width: 180px;
    background-color: #efecf3; 
    margin: 10px;
    padding: 5px;
    list-style: none;
    height: 100%;
}

#sidebar h2
{
    margin: 10px;
}

#main
{
    float: left;
    padding-left: 20px;
    width: 70%;
}
.clear 
{
    clear:both;
}

.commentbody 
{
        width: 90%;
        height: 100px;
        align: right;
        background-color: #c6bad3;
}
h1 
{
    margin:0px;
    font: 100px Arial,sans-serif;
}

article 
{
        color: #785e96;
        background-color: #efecf3;
}

.artinfo, .postinfo
{
    background-color: #efecf3;
}

.art, .post
{
    background-color: #efecf3;
    padding: 10px;
    margin: 10px;
}
span.nonimage, span.nonpost
{
    float:left;
}


header
{
    font-weight: bold;
}

label 
{
    vertical-align: top;
}

figure, .artinfo
{
    padding: 10px 10px 7px 10px;
}

figure + br 
{
    clear: both;
}

textarea
{
    overflow: auto;
}
textarea#id_body
{
    width: 80%;
}
.artimage 
{
    width: 550px;
}

h2 > a
{
    text-decoration: none;
}
