{% extends "generic_base.html" %}
{% block title %} 
    deathweasel.net: {{artwork.title}}
{% endblock %}
{% block content  %}
    <article>
    {% if object_list %}
        {% for artwork in object_list %}
            <section>
                <header>
                <h2>{{artwork.title}}</h2>
                </header>
                <figure>
                    <img class="artimage" src="/media/{{ artwork.image }}"/>
                </figure>
                <br/>
                <section class="artinfo">
                <header>
                    <h3>Artwork Information</h3>
                </header>
                <label>Medium:</label> {{artwork.medium}}<br/>
                <label>Artist:</label> {{artwork.artist}}<br/>
                <label>Description:</label> {{artwork.desc}}<p/>
                </section>
            </section>    
            {% endfor %}
    {% else %}
        <section>
            <header>
            <strong> No artwork found. </strong>
            <header>
            Come back later.
        <section>
    {% endif %}
    </article>
{% endblock %}

