{% extends "generic_base.html" %}
{% block content  %}
<script type="text/javascript" src="http://www.deathweasel.net/static/js/artwork.js"></script>
<article>
    {% for artwork in object_list %}
        <section>
            <header>
            <h2>{{artwork.title}}</h2>
            </header>
            <figure>
                <img class="artimage" src="{{ artwork.image.url }}"/>
            </figure>
            <br/>
            <section class="artinfo">
            <header>
                <h3>Artwork Information</h3>
            </header>
            <label>Medium:</label> {{artwork.medium}}<br/>
            <label>Artist:</label> {{artwork.artist}}<br/>
            <label>Description:</label> {{artwork.desc}}<p/>
            </section>
            <section>
                <header>
                <h3> Comments for {{artwork.title}}</h3>
                </header>
                <a class="artcomment" id="{{artwork.id}}" href="#">Show comments...</a>
                <div id="comment"/>
            </section>
        </section>    
    {% empty %}
        <section>
            <header>
            <strong> No artwork found. </strong>
            <header>
            Come back later.
        <section>
    {% endfor %}
</article>
{% endblock %}

