{% extends "generic_base.html" %}
{% block content%}
    <section class="art">
        <header>
        <h2>Detailed view for {{object.title}}</h2>
        </header>

            <figure>
            <a href="{{object.image.url}}"><img class="artimage" src="{{object.image.url}}"/></a><br/>
            <small>Click the image to see fullsize.</small>
            </figure>
        <section class="artinfo">
            <label>Title: </label> {{object.title}}<br/>
            <label>Artist: </label> {{object.artist}}<br/>
            <label>Medium: </label> {{object.medium}}<br/>
            <label>Description: </label> {{object.desc|safe}}<br/>
            <label>Keywords: </label> 
            {% for keyword in object.keywords.all %}
                {{ keyword }}&nbsp;
            {% endfor %}
            <br/>

            <br/>    
        </section>
        <section>
            <header>
            <h3>Comments for {{object.title}}</h3>
            </header>
            <section class="addcomment">
                <header>
                <h4>Add a comment</h4>
                </header>
                <div name="{{ object.pk }}" id="pk"/>
                    {{ comment_form.media }}
                    <form id="commentform" action="/artwork/comments/add/{{ object.pk }}/" method="post" >
                    <formset>
                    {% csrf_token %}
                    <img src="http://www.deathweasel.net/static/images/icons/08-chat.png"/> Title<br/>
                    {{ comment_form.title }}<br/>
                    <img src="http://www.deathweasel.net/static/images/icons/123-id-card.png"/> Author<br/>
                    {{ comment_form.author}}<br/>
                    <img src="http://www.deathweasel.net/static/images/icons/179-notepad.png"/> Comment Body<br/>
                    {{ comment_form.body}}<br/>
                    {{ comment_form.artwork}}<br/>
                    <input type="submit" name="Submit Comment"/><div class="error"></div>
                    </formset>
                </form>    
            </section>
            <a class="artcomment" id={{object.id}} href="#">Show comments</a>
            <div id="comments"/>
        </section>
    </section>
{% endblock %}
