{% extends "generic_base.html" %}
{% block content%}
<script type="text/javascript" src="http://www.deathweasel.net/static/js/artwork.js"></script>
<article>
    <section>
        <header>
            <h2>Detailed view for {{object.title}}</h2>
        </header>
        <div>
            <figure>
                <img class="artimage" src="{{object.image.url}}"/>
            </figure>
            <div id="cleardiv">
                &nbsp;
            </div>
        </div>
        <section>
            <label>Medium:</label>{{object.medium}}<br/>
            <label>Artist:</label>{{object.artists}}<br/>
            <label>Description:</label>{{object.desc}}<br/>
        </section>
        <section>
            <header>
            <h3>Comments for {{object.title}}</h3>
            </header>
            <a class="artcomment" id={{object.id}} href="#">Show comments...</a>
            <div id="comment"/>
        </section>
    </section>
</article>
{% endblock %}

