{% extends "generic_base.html" %}
{% block title %} 
    deathweasel.net: Modify Artwork 
{% endblock %}
{% block content%}
{% if form.errors %}
    <div class="error">
        {% for error in form.errors %}
            {{error}}<br/>
        {% endfor %}
    </div>
{% endif %}
<article>
    <header>
    <h2>Modify Artwork and Comments</h2>
    </header>
     <form action="/artwork/upload/" enctype="multipart/form-data" method="post">
        <fieldset>
            <section>
                <header>
                 <h3> Modify Artwork </h3>
                </header>
                {% csrf_token %}
                {{ form.as_p }}
            </section>
        </fieldset>
        <p/>
        <fieldset>
            <section>
                <header>
                <h3> View/Delete Comments </h3>
                </header>
                {% if comments %}
                    {% for comment in comments %}
                        <section class="comment">
                            <header>
                            Comment on {{ comment.date }} left by {{comment.commenteer}} 
                            </header>
                            Delete this comment? <input type="checkbox" value="no" name={{comment.id}}><br/>
                            <div class="commentbody">
                                {{comment.comment_body}} <br/> 
                            </div>        
                        </section>
                    {% endfor %}
                    
                {% else %}
                    <section class="comment">
                    <div class="commentbody">
                        No comments available.
                    </div>
                    </section>
                {% endif %}
            </section>
        </fieldset>
        <input type="submit" value="Submit"/>
    </form>
</article>
{% endblock %}

