{% extends "generic_base.html" %}
{% block content%}
<section>
    <script type="text/javascript" src="http://www.deathweasel.net/static/js/artwork.js"></script>
    {{form.media}}
    <header>
    <h2>Modify Artwork and Comments</h2>
    </header>
    <form id="artform" action="/artwork/modify/{{pk}}" enctype="multipart/form-data" method="post">
        <fieldset>
            <section>
                <header>
                 <h3> Modify Artwork </h3>
                </header>
            {% csrf_token %}
            <div>
            <span id="nonimage" style="float:left">
                {{form.title}}<br/>
                {{form.medium}}<br/>
                {{form.desc}}<br/>
                {{form.keywords.objets.all}}<br/>
                {{form.delete_art}}<br/>
            </span>
            <span id="image" style="float:right">
                {{form.image}}
            <span>
            <div style="clear:both;"/>        
            </div>
                        </section>
           <!-- <section>
                <header>
                <h3> View/Delete Comments </h3>
                </header>
                    <a class="artmodifycomment" id="{{pk}}" href="#">Show comments...</a>
                    <div id="comment"/>
                        </section> --!>
        </fieldset>
        <input type="submit" value="Submit"/>
    </form>
</section>
{% endblock %}

