{% extends "generic_base.html" %}
{% block content%}
<section>
    {{form.media}}
    {{errors}}
    <header>
    <h2>Modify Artwork and Comments</h2>
    </header>
    <form id="artform" action="/artwork/modify/{{pk}}/" enctype="multipart/form-data" method="post">
        <fieldset>
            {% csrf_token %}
            <div>
                <span class="nonimage">
                    Title<br/>
                    {{form.title}}<br/>
                    Medium<br/>
                    {{form.medium}}<br/>
                    Description <br/>
                    {{form.desc}}<br/>
                    Keywords<br/> 
                    {{form.keywords}}<br/>
                    {{form.delete_art}}Delete this artwork?<br/>
                </span>
                <span class="image">
                    {{form.image}}
                <span>
                <div style="clear:both;"/>        
            </div>
           <!-- <section>
                <header>
                <h3> View/Delete Comments </h3>
                </header>
                    <a class="artmodifycomment" id="{{pk}}" href="#">Show comments...</a>
                    <div id="comment"/>
                        </section> --!>
        <input type="submit" value="Submit"/>
        </fieldset>
    </form>
</section>
{% endblock %}

