{% extends "generic_base.html" %}
{% block content%}
<section>
    {{form.media}}
    <header>
    <h2>Upload New Artwork</h2>
    </header>
        <form id="artform" action="/artwork/upload/" enctype="multipart/form-data" method="post">
            <fieldset>
            {% csrf_token %}
            <div>
                <span class="nonimage">
                    Title<br/>
                    {{form.title}}<br/>
                    Medium<br/>
                    {{form.medium}}<br/>
                    Description<br/>
                    {{form.desc}}<br/>
                    Keywords<br/>
                    {{form.keywords}}<br/>
                    </span>
                    <span class="image">
                        {{form.image}}
                        <span id="fileAttrs">    
                    </span>
                    <div style="clear:both;"/>        
            </div>
            <input type="submit" value="Submit"/>
            </fieldset>
        </form>
    </section>
{% endblock %}

