{% extends "generic_base.html" %}
{% block content%}
<script type="text/javascript" src="http://www.deathweasel.net/static/js/post.js"></script>
{{form.media}}
    <header>
    <h2>Make New Post</h2>
    </header>
    <section>
        <form id="postform" action="/posts/add" method="post">
            <fieldset>
            {% csrf_token %}
            <span class="nonpost">
                Title <br/>
                {{ form.title }} <br/>
                Categories<br/>
                {{form.category }}<br/>
                {{ form.allow_comments }} Allow Comments? <br/>
                {{ form.viewable }} Viewable? <br/>
            </span>
            <span class="postbody">
                Post Body <br />
                {{ form.body }}<br/>
            </span>
            <input type="submit" value="Submit"/>
            </fieldset>
        </form>
    </section>
{% endblock %}

