{% extends "generic_base.html" %}
{% block content%}
<script type="text/javascript" src="http://www.deathweasel.net/static/js/post.js"></script>
{{form.media}}
{{ errors }}
    <header>
    <h2>Make New Post</h2>
    </header>
    <section>
    <form id="postform" action="/posts/modify/{{pk}}/" method="post">
            <fieldset>
                {% csrf_token %}
                <div>
                    <span class="nonpost">
                        Title <br/>
                        {{ form.title }} <br/>
                        Categories<br/>
                        {{form.category }}<br/>
                        {{ form.allow_comments }} Allow Comments? <br/>
                        {{ form.viewable }} Viewable? <br/>
                        {{ form.delete_post }} Delete this post? <br/>
                    </span>
                    <span class="postbody">
                        Post Body <br/>
                        {{ form.body }}<br/>
                    </span>
                </div>    
                <input type="submit" value="Submit"/>
            </fieldset>
      <!--      <section>
                <header>
                <h3> View/Delete Comments </h3>
                </header>
                    <a class="postmodifycomment" id="{{pk}}" href="#">Show comments...</a>
                    <div id="comment"/>
                        </section> -->
        </form>
    </section>
{% endblock %}

