{% extends "generic_base.html" %}
{% block content%}
<script type="text/javascript" src="http://www.deathweasel.net/static/js/posts.js"></script>
<section class="post">
    <header>
        <h2>{{object.title}}</h2>
    </header>
    <section>
        {{object.body|safe}}
        <p/>
        <div class="postinfo">
            Posted by {{object.user}} on {{object.date}}<br/>
            <label>Categories</label>: {% for cat in object.category.all %}
            {{cat}}&nbsp;
            {% endfor %}
        </div>
    </section>
    <section>
        <header>
        <h3>Comments for {{object.title}}</h3>
        </header>
        <section class="addcomment">
            <header>
            <h4>Add a comment</h4>
            </header>
            <div name="{{ object.pk }}" id="pk"/>
                {{ comment_form.media }}
                <form id="commentform" action="/posts/comments/add/{{ object.pk }}/" method="post" >
                <formset>
                {% csrf_token %}
                {{ comment_form.title }}<br/>
                {{ comment_form.author}}<br/>
                {{ comment_form.body}}<br/>
                {{ comment_form.post}}<br/>
                <input type="submit" name="Submit Comment"/><div class="error"></div>
                </formset>
            </form>    
        </section>
        <a class="postcomment" id={{object.id}} href="#">Show comments</a>
        <div id="comments"/>
    </section>
</section>
{% endblock %}

