{% extends "generic_base.html" %}
{% block content%}
<script type="text/javascript" src="http://www.deathweasel.net/static/js/posts.js"></script>
{% for object in object_list %}
    <section class="post">
        <header>
            <h2>{{object.title}}</h2>
        </header>
        <section>
            {{object.body|safe}}
            <p/>    
            <div class="postinfo">
            Posted by {{object.user}} on {{object.date}}<br/>
            <label>Categories</label>: 
                {% for cat in object.category.all %}
                {{cat}}
                {% endfor %}
            </div>
        </section>
    </section>
{% empty %}    
<section class="post">
    <header>
        <h2>No posts available</h2>
    </header>
    No posts. :( Come back later.
</section>
{% endfor %}

{% endblock %}

