{% extends "generic_base.html" %}
{% block title %} 
Deathweasel.net
{% endblock %}
{% block content  %}
<div class="ui-widget-content ui-corner-top">
<img src="static/artwork/inkwork/landscape.jpg"/>
</div>
<br/>
<div class="ui-widget-content ui-corner-bottom">
I'm Jessica Ross, also known as deathweaselx86.<br/>
This is a placeholder for my website.<br/>
I'll eventually put something here. This site is behind all of my other hobbies,
which include hobby electronics, software development, and general artwork. If
you want to see some of my artwork, you can look here:<br/>
<a href="http://deathweaselx86.deviantart.com">deathweaselx86 at deviantART</a>
</div>
{% endblock %}

