<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8"/>
        <!--[if IE] > 
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
        <![endif]-->
        <script type="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="javascript" src="http://www.deathweasel.net/static/js/shiny.js"></script>
        <link rel="stylesheet" href="http://www.deathweasel.net/static/css/shiny/shiny.css">
        <title> {% block title %}{% endblock %} </title>
	</head>
    <body>
        <header id="main">
    <h1>deathweasel.net</h1>
    </header>
        <div id="container">
        <nav>
        <div align="right"><a href="/artwork/">Artwork</a> | 
            {% if user.is_authenticated %}
            Login | <a href="/logout/">Logout</a><br/></div>
            {% else %}
            <a href="/login/">Login</a> | Logout<br/></div>
            {% endif %}
        </nav>
        <aside>
        <b> Art Links</b>
        <div class="links">
            <a class="arthidden" href="http://www.deviantart.com">deviantArt gallery</a><br/>
            <a class="arthidden" href="http://wwww.conceptart.org">Conceptart.org</a><br/>
            <a class="arthidden" href="http://www.wetcanvas.com">Wetcanvas artist resources<a><br/>
        </div>
        <b>Tech Links</b>
        <div class="links">
            <a class="techhidden" href="http://www.arduino.cc">Arduino Open Source Hardware site </a><br/>
            <a class="techhidden" href="http://www.avrfreaks.net">AVR Freaks</a><br/>
            <a class="techhidden" href="http://www.atxhackerspace.org">ATX Hackerspace</a><br/>
            <a class="techhidden" href="http://www.adafruit.com">Adafruit Industries: Electronics for Hackers and Makers</a><br/>
        </div>
        </aside>
                <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <div id="cleardiv">
        &nbsp;
        </div>
        <div id="cleardiv">
        &nbsp;
        </div>
        <footer>
        <small> This page is &copy; copyright Jessica Ross 2012.</small>
        </footer>
        </div>
    </body>
</html>
