<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8"/>
        <!--[if IE] > 
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
        <![endif]-->
        <script type="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://www.deathweasel.net/static/css/shiny/shiny.css">
        <title> {% block title %}{% endblock %} </title>
	</head>
    <body>
        <header id="main">
    <h1>deathweasel.net</h1>
    </header>
    <!-- <nav>
    <a href="/artwork/">Artwork</a> | <a href="/login/">Login</a> | <a href="/logout/">Logout</a><br/>
    </nav> -->
    <div id="container">
        <p/>
        <aside>
        Links
        <p/>
        <a class="hidden" href="http://deathweaselx86.deviantart.com">deathweaselx86 deviantArt gallery</a><br/>
        <a class="hidden" href="http://www.arduino.cc">Arduino Open Source Hardware site </a><br/>
        <a class="hidden" href="http://www.avrfreaks.net">AVR Freaks</a><br/>
        <a class="hidden" href="http://www.atxhackerspace.org">ATX Hackerspace</a><br/>
        </aside>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <div id="cleardiv">
        &nbsp;
        </div>
        <div id="enddiv">
        &nbsp;
    </div>
        <footer>
        <small> This page is &copy; copyright Jessica Ross 2012.</small>
        </footer>
        </div>
    </body>
</html>
